.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // 撐滿整個視窗高度
  }
  
  #LoginPage {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  